.root {
  padding: 60px;
}

@media (max-width: 575px) {
  .root {
    padding: 30px;
  }
}

.phrase {
  font-size: 40px;
}

.phraseEnglish {
  display: flex;
  align-items: center;
}

.phraseEnglish > div {
  margin-right: 20px;
}

.phraseEnglish > div > span {
  color: var(--text-gradient-fallback);
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  margin-bottom: 0;
}

.phraseEnglish > i {
  font-style: normal;
  font-size: 60px;
}

.successInput,
.successInput > input {
  background: #f6ffed;
  color: #52c41a;
}

.input > input,
.successInput > input {
  font-weight: 600;
}

.input,
.successInput {
  width: 300px;
  margin-top: 20px;
}

@media (max-width: 575px) {
  .input,
  .successInput {
    width: 100%;
  }
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

@media (max-width: 767px) {
  .form {
    flex-direction: column;
    align-items: flex-start;
  }
}
