.root {
  padding: 0 30px;
  max-height: calc(100vh - 48px);
  overflow: auto;
}

.root p {
  font-size: 18px;
  text-align: justify;
}

.glossaryButton {
  height: 60px;
  width: 70px;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .root {
    display: flex;
  }

  .text {
    max-width: 500px;
  }
}
