.root {
  padding: 0 30px;
  max-height: calc(100vh - 48px);
  overflow: auto;
}

.text {
  max-width: 500px;
}

.root p {
  font-size: 18px;
  text-align: justify;
}

.glossaryButton {
  height: 60px;
  width: 70px;
  border-radius: 50%;
}
