/* global styles and antd modifications here */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

:root {
  --text-gradient: linear-gradient(
    180deg,
    rgba(137, 207, 240, 1),
    rgba(100, 149, 237, 1) 77%
  );

  --text-gradient-fallback: rgba(188, 0, 255, 1);
  --font-family: 'Tilt Neon', sans-serif;
  --font-crazy: 'Yatra One', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-bottom: 30px;
  margin-top: 0;
}

.ant-layout {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #eefffe, #f9f0ff, #eafffe, #faf2ff);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
