/* global styles and antd modifications here */
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --text-gradient: linear-gradient(
    180deg,
    rgba(137, 207, 240, 1),
    rgba(100, 149, 237, 1) 77%
  );

  --text-gradient-fallback: rgba(188, 0, 255, 1);
  --font-family: "Plus Jakarta Sans", sans-serif;
  --font-display: "Palette Mosaic", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-bottom: 30px;
  margin-top: 0;
}
